@import './utils';

body {
    @include D_wrap{
        #M_wrap {display: none;}
        #D_contents {
            .menu_root {
                width: 100%;
                background-color: #000;
    
                .root_wrap {
                    max-width: 1184px;
                    width: 1184px;
                    margin: 0 auto;
                    padding: 20px 0;
                    color: #fff;
    
                    span {
                        font-size: 0.9rem;
                        font-weight: 600;
                        cursor: default;
    
                        &:first-child {
                            position: relative;
                            margin-right: 5px;
                            padding-right: 15px;
    
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 4px;
                                height: 100%;
                                background: {
                                    image: url('../img/Common/B.menu/menu_after.gif');
                                    repeat: no-repeat;
                                    size: 100%;
                                    position: center center;
                                }
                            }
                        }
                    }
                }
            }
    
            .menu_bg {
                width: 100%;
                height: 100%;
                background-color: #fff;
    
                .menu_wrap {
                    max-width: 1184px;
                    width: 1184px;
                    margin: 0 auto;
    
                    .menu_page {
                        width: 100%;
                        height: 100%;
                        padding: 50px 0 40px;
                        font-family: 'yg-jalnan';
    
                        .menuBtns {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            li {
                                position: relative;
                                font-size: 1rem;
                                color: #b8b8b8;
                                cursor: pointer;
    
                                &.menu_title {
                                    font-size: 2.5rem;
                                    color: #000;
                                    cursor: default;
                                }
                                &.on {color: $menuRed;}
                                &::after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    left: 0;
                                    bottom: -5px;
                                    width: 0;
                                    height: 3px;
                                    background-color: $menuRed;
                                }
                                &.on::after {width: 100%;}
    
                                a {
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
    
                        .menuList_wrap {
                            width: 100%;
                            padding: 60px 0 80px;
    
                            .menuListBtn {
                                .menuLists {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: flex-start;
                                    align-items: center;
    
                                    &.off {display: none;}
    
                                    .menuList {
                                        width: 25%;
                                        margin-bottom: 50px;
    
                                        .menuA {
                                            display: inline-block;
                                            width: 100%;
                                            height: 100%;
                                            text-align: center;
    
                                            .menuImge {
                                                max-width: 220px;
                                                height: 100%;
                                            }
                                            .menuName {font-size: 1.2rem;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      }
    
      @include M_wrap {
        #D_wrap {display: none;}
        .menu_bg {
            width: 100%;
            height: 100%;
            background-color: #fff;
    
            .menu_wrap {
                max-width: 1184px;
                width: 100%;
                height: 100%;
                margin: 0 auto;
    
                .menu_page {
                    width: 100%;
                    height: 100%;
                    padding-top: 80px;
                    font-family: 'yg-jalnan';

                    .main_title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        cursor: default;
                        text-align: center;
                        margin: 0 auto;
                    }
    
                    .menuBtns {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 15px auto 0;
                        padding: 0 20px;
    
                        li {
                            position: relative;
                            width: 25%;
                            height: 55px;
                            font-size: 1rem;
                            color: #b8b8b8;
                            text-align: center;
                            cursor: pointer;

                            &.on {color: $menuRed;}

                            &::before {
                                content: '';
                                position: absolute;
                                display: block;
                                top: 50%;
                                left: 0;
                                width: 1px;
                                height: 15px;
                                margin-top: -7px;
                                background-color: #e6e6e6;
                            }
                            &:first-child::before {content: none;}

                            &::after {
                                content: '';
                                position: absolute;
                                display: block;
                                left: 0;
                                bottom: -5px;
                                width: 100%;
                                height: 2px;
                                background-color: #f3f4f5;
                            }
                            &.on::after {background-color: $menuRed;}
    
                            a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                            }

                            &:nth-child(3) {
                                a {padding: 15px 0;}
                            }
                        }
                    }
    
                    .menuList_wrap {
                        width: 100%;
                        height: 100%;
                        padding-top: 30px;
    
                        .menuListBtn {
                            width: 100%;
                            height: 100%;
                            padding: 0 20px;
    
                            .menuLists {
                                width: 100%;
                                height: 100%;
    
                                &.off {display: none;}

                                .menuList {
                                    width: 100%;
                                    height: 100%;
                                    border-bottom: 1px solid #f3f4f5;
                                    padding: 10px 0;

                                    &:last-child {border-bottom: none;}
    
                                    .menuA {
                                        position: relative;
                                        display: inline-block;
                                        width: 100%;
                                        height: 100%;

                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            right: 20px;
                                            display: block;
                                            width: 10px;
                                            height: 15px;
                                            background: {
                                                image: url('../img/Mobile/M_moreBtn.png');
                                                repeat: no-repeat;
                                                size: 100%;
                                                position: center;
                                            }
                                        }
    
                                        .menuImge {
                                            max-width: 220px;
                                            width: 118px;
                                            height: 86px;
                                            margin-right: 20px;
                                            vertical-align: middle;
                                        }
                                        .menuName {
                                            display: inline-block;
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      }
}